<html>
 <head>
  <title> Apache web server</title>
 <head>
<body>
<center><h1>Apache web server</h1></center>
Apache vs Nginx

Server Host Name : {{ansible_hostname }}<br>
<br/><br/>
<center><img alt="Apache"
src="https://yandex.ru/images/search?pos=0&from=tabbar&img_url=https%3A%2F%2Fcdn.fishki.net%2Fupload%2Fpost%2F201603%2F03%2F1870231%2Fah-64d_apache_v2-_56_.jpg&text=apache+ws+picture&rpt=simage>
</center>
<br/><br/>
<font style=color:black"></font>
<br/><br/>
<b></b>
<br/><br/>
<br/><br/>

<hr>

<br?><br/>
Thank You!
</body>
</html>

